[submodule "interlock"]
	path = interlock
	url = https://github.com/jrruethe/interlock.git
[submodule "usbarmory"]
	path = usbarmory
	url = https://github.com/jrruethe/usbarmory.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/jrruethe/buildroot.git
